
.title {
    position: absolute;
    text-align: center; 
    font-size: 50px;   
    font-weight: bold;  
    color: black; 
    margin-bottom: 650px;
}

.topleftlogo {
    position: absolute; 
    top: 0;
    left: 4px;
    width: 300px;
    height: 300px;
}

.topleftlogo img {
    width: 35%; 
    height: 25%;
}

.password {
    margin-top: 25px;
}

.login {
    margin-top: 25px;
}
